data/
experiments/
src/wandb
pretrained_models/
experiments_comp/
experiments_till_168/
experiments_168-234/
analysis/
notes.txt
src/exp.ipynb
src/exp_stain_info.ipynb
wandb/
src/train.ipynb
src/val.ipynb
src/preprocessing
*.pyc
